In [85]:
import pandas as pd

Reading in the csv file and printing the first few rows to understand the data.

In [86]:
df = pd.read_csv('premier-player-23-24.csv')
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast_90,G+A_90,G-PK_90,G+A-PK_90,xG_90,xAG_90,xG+xAG_90,npxG_90,npxG+xAG_90,Team
0,Rodri,es ESP,MF,27.0,34,34,2931.0,32.6,8.0,9.0,...,0.28,0.52,0.25,0.52,0.12,0.12,0.24,0.12,0.24,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23.0,35,33,2857.0,31.7,19.0,8.0,...,0.25,0.85,0.60,0.85,0.33,0.26,0.59,0.33,0.59,Manchester City
2,Ederson,br BRA,GK,29.0,33,33,2785.0,30.9,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23.0,36,31,2647.0,29.4,11.0,8.0,...,0.27,0.65,0.31,0.58,0.44,0.22,0.66,0.39,0.61,Manchester City
4,Kyle Walker,eng ENG,DF,33.0,32,30,2767.0,30.7,0.0,4.0,...,0.13,0.13,0.00,0.13,0.01,0.09,0.10,0.01,0.10,Manchester City

Getting the unique values of the 'class' column to understand the target variable.

In [87]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       580 non-null    object
 1   Nation       580 non-null    object
 2   Pos          580 non-null    object
 3   Age          580 non-null    float64
 4   MP           580 non-null    int64
 5   Starts       580 non-null    int64
 6   Min          580 non-null    float64
 7   90s          580 non-null    float64
 8   Gls          580 non-null    float64
 9   Ast          580 non-null    float64
 10  G+A          580 non-null    float64
 11  G-PK         580 non-null    float64
 12  PK           580 non-null    float64
 13  PKatt        580 non-null    float64
 14  CrdY         580 non-null    float64
 15  CrdR         580 non-null    float64
 16  xG           580 non-null    float64
 17  npxG         580 non-null    float64
 18  xAG          580 non-null    float64
 19  npxG+xAG     580 non-null    float64
 20  PrgC         580 non-null    float64
 21  PrgP         580 non-null    float64
 22  PrgR         580 non-null    float64
 23  Gls_90       580 non-null    float64
 24  Ast_90       580 non-null    float64
 25  G+A_90       580 non-null    float64
 26  G-PK_90      580 non-null    float64
 27  G+A-PK_90    580 non-null    float64
 28  xG_90        580 non-null    float64
 29  xAG_90       580 non-null    float64
 30  xG+xAG_90    580 non-null    float64
 31  npxG_90      580 non-null    float64
 32  npxG+xAG_90  580 non-null    float64
 33  Team         580 non-null    object
dtypes: float64(28), int64(2), object(4)
memory usage: 154.2+ KB

converting age to int

In [88]:
df['Age'] = df['Age'].astype(int)
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast_90,G+A_90,G-PK_90,G+A-PK_90,xG_90,xAG_90,xG+xAG_90,npxG_90,npxG+xAG_90,Team
0,Rodri,es ESP,MF,27,34,34,2931.0,32.6,8.0,9.0,...,0.28,0.52,0.25,0.52,0.12,0.12,0.24,0.12,0.24,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23,35,33,2857.0,31.7,19.0,8.0,...,0.25,0.85,0.60,0.85,0.33,0.26,0.59,0.33,0.59,Manchester City
2,Ederson,br BRA,GK,29,33,33,2785.0,30.9,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23,36,31,2647.0,29.4,11.0,8.0,...,0.27,0.65,0.31,0.58,0.44,0.22,0.66,0.39,0.61,Manchester City
4,Kyle Walker,eng ENG,DF,33,32,30,2767.0,30.7,0.0,4.0,...,0.13,0.13,0.00,0.13,0.01,0.09,0.10,0.01,0.10,Manchester City

convertin minutes to int

In [89]:
df['Min']= df['Min'].astype(int)
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast_90,G+A_90,G-PK_90,G+A-PK_90,xG_90,xAG_90,xG+xAG_90,npxG_90,npxG+xAG_90,Team
0,Rodri,es ESP,MF,27,34,34,2931,32.6,8.0,9.0,...,0.28,0.52,0.25,0.52,0.12,0.12,0.24,0.12,0.24,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23,35,33,2857,31.7,19.0,8.0,...,0.25,0.85,0.60,0.85,0.33,0.26,0.59,0.33,0.59,Manchester City
2,Ederson,br BRA,GK,29,33,33,2785,30.9,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23,36,31,2647,29.4,11.0,8.0,...,0.27,0.65,0.31,0.58,0.44,0.22,0.66,0.39,0.61,Manchester City
4,Kyle Walker,eng ENG,DF,33,32,30,2767,30.7,0.0,4.0,...,0.13,0.13,0.00,0.13,0.01,0.09,0.10,0.01,0.10,Manchester City

In [90]:
df['Gls'] = df['Gls'].astype(int)
df['Ast'] = df['Ast'].astype(int)

df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast_90,G+A_90,G-PK_90,G+A-PK_90,xG_90,xAG_90,xG+xAG_90,npxG_90,npxG+xAG_90,Team
0,Rodri,es ESP,MF,27,34,34,2931,32.6,8,9,...,0.28,0.52,0.25,0.52,0.12,0.12,0.24,0.12,0.24,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23,35,33,2857,31.7,19,8,...,0.25,0.85,0.60,0.85,0.33,0.26,0.59,0.33,0.59,Manchester City
2,Ederson,br BRA,GK,29,33,33,2785,30.9,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23,36,31,2647,29.4,11,8,...,0.27,0.65,0.31,0.58,0.44,0.22,0.66,0.39,0.61,Manchester City
4,Kyle Walker,eng ENG,DF,33,32,30,2767,30.7,0,4,...,0.13,0.13,0.00,0.13,0.01,0.09,0.10,0.01,0.10,Manchester City

In [91]:
df.drop(columns=['npxG+xAG', 'Ast_90', 'PrgP', 'PrgR', 'PrgC', 'Gls_90', 'npxG', 'npxG+xAG_90', 'npxG_90',
                 'xG+xAG_90', 'xAG_90', 'xG_90', 'G+A-PK_90', 'G-PK_90', 'G+A_90', 'G-PK', 'PKatt', 'PK'],
        inplace=True)

df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,CrdY,CrdR,xG,xAG,Team
0,Rodri,es ESP,MF,27,34,34,2931,32.6,8,9,17.0,8.0,1.0,4.1,3.9,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23,35,33,2857,31.7,19,8,27.0,2.0,0.0,10.3,8.4,Manchester City
2,Ederson,br BRA,GK,29,33,33,2785,30.9,0,0,0.0,5.0,0.0,0.0,0.1,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23,36,31,2647,29.4,11,8,19.0,2.0,0.0,13.0,6.4,Manchester City
4,Kyle Walker,eng ENG,DF,33,32,30,2767,30.7,0,4,4.0,2.0,0.0,0.4,2.6,Manchester City

In [92]:
columns = ['G+A', 'CrdY', 'CrdR']

for col in columns:
    df[col] = df[col].astype(int)

df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,CrdY,CrdR,xG,xAG,Team
0,Rodri,es ESP,MF,27,34,34,2931,32.6,8,9,17,8,1,4.1,3.9,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23,35,33,2857,31.7,19,8,27,2,0,10.3,8.4,Manchester City
2,Ederson,br BRA,GK,29,33,33,2785,30.9,0,0,0,5,0,0.0,0.1,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23,36,31,2647,29.4,11,8,19,2,0,13.0,6.4,Manchester City
4,Kyle Walker,eng ENG,DF,33,32,30,2767,30.7,0,4,4,2,0,0.4,2.6,Manchester City

In [93]:
nation = df['Nation'].str.split(' ').str[1]

df['Nation'] = nation
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,CrdY,CrdR,xG,xAG,Team
0,Rodri,ESP,MF,27,34,34,2931,32.6,8,9,17,8,1,4.1,3.9,Manchester City
1,Phil Foden,ENG,"FW,MF",23,35,33,2857,31.7,19,8,27,2,0,10.3,8.4,Manchester City
2,Ederson,BRA,GK,29,33,33,2785,30.9,0,0,0,5,0,0.0,0.1,Manchester City
3,Julián Álvarez,ARG,"MF,FW",23,36,31,2647,29.4,11,8,19,2,0,13.0,6.4,Manchester City
4,Kyle Walker,ENG,DF,33,32,30,2767,30.7,0,4,4,2,0,0.4,2.6,Manchester City

In [94]:
df['xG+xAG'] = df['xG'] + df['xAG']

df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,CrdY,CrdR,xG,xAG,Team,xG+xAG
0,Rodri,ESP,MF,27,34,34,2931,32.6,8,9,17,8,1,4.1,3.9,Manchester City,8.0
1,Phil Foden,ENG,"FW,MF",23,35,33,2857,31.7,19,8,27,2,0,10.3,8.4,Manchester City,18.7
2,Ederson,BRA,GK,29,33,33,2785,30.9,0,0,0,5,0,0.0,0.1,Manchester City,0.1
3,Julián Álvarez,ARG,"MF,FW",23,36,31,2647,29.4,11,8,19,2,0,13.0,6.4,Manchester City,19.4
4,Kyle Walker,ENG,DF,33,32,30,2767,30.7,0,4,4,2,0,0.4,2.6,Manchester City,3.0

In [95]:
# Get the list of all column names
cols = list(df.columns)

# Move the 'xG+xAG' column to be second to last
cols.insert(-1, cols.pop(cols.index('xG+xAG')))

# Reorder the DataFrame with the updated column order
df = df[cols]

df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,CrdY,CrdR,xG,xAG,xG+xAG,Team
0,Rodri,ESP,MF,27,34,34,2931,32.6,8,9,17,8,1,4.1,3.9,8.0,Manchester City
1,Phil Foden,ENG,"FW,MF",23,35,33,2857,31.7,19,8,27,2,0,10.3,8.4,18.7,Manchester City
2,Ederson,BRA,GK,29,33,33,2785,30.9,0,0,0,5,0,0.0,0.1,0.1,Manchester City
3,Julián Álvarez,ARG,"MF,FW",23,36,31,2647,29.4,11,8,19,2,0,13.0,6.4,19.4,Manchester City
4,Kyle Walker,ENG,DF,33,32,30,2767,30.7,0,4,4,2,0,0.4,2.6,3.0,Manchester City

In [96]:
df.isna().sum()

Player    0
Nation    0
Pos       0
Age       0
MP        0
Starts    0
Min       0
90s       0
Gls       0
Ast       0
G+A       0
CrdY      0
CrdR      0
xG        0
xAG       0
xG+xAG    0
Team      0
dtype: int64

In [97]:
df['Pos2'] = df['Pos'].str.split(',').str[1]

df['Pos2'] = df['Pos2'].fillna('None')

In [98]:
df['Pos'] = df['Pos'].str.split(',').str[0]

df['Pos'] = df['Pos'].str.strip().fillna('None')

df

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,CrdY,CrdR,xG,xAG,xG+xAG,Team,Pos2
0,Rodri,ESP,MF,27,34,34,2931,32.6,8,9,17,8,1,4.1,3.9,8.0,Manchester City,None
1,Phil Foden,ENG,FW,23,35,33,2857,31.7,19,8,27,2,0,10.3,8.4,18.7,Manchester City,MF
2,Ederson,BRA,GK,29,33,33,2785,30.9,0,0,0,5,0,0.0,0.1,0.1,Manchester City,None
3,Julián Álvarez,ARG,MF,23,36,31,2647,29.4,11,8,19,2,0,13.0,6.4,19.4,Manchester City,FW
4,Kyle Walker,ENG,DF,33,32,30,2767,30.7,0,4,4,2,0,0.4,2.6,3.0,Manchester City,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,Sam Curtis,IRL,DF,17,1,0,28,0.3,0,0,0,0,0,0.0,0.0,0.0,Sheffield United,None
576,Daniel Jebbison,ENG,FW,19,1,0,21,0.2,0,0,0,0,0,0.0,0.0,0.0,Sheffield United,None
577,Antwoine Hackford,ENG,FW,19,2,0,13,0.1,0,0,0,0,0,0.0,0.0,0.0,Sheffield United,None
578,Sydie Peck,ENG,MF,18,1,0,10,0.1,0,0,0,0,0,0.0,0.0,0.0,Sheffield United,None
579,Ryan One,SCO,FW,17,1,0,8,0.1,0,0,0,0,0,0.0,0.0,0.0,Sheffield United,None

In [99]:
cols = list(df.columns)

cols.insert(3, cols.pop(cols.index('Pos2')))

df = df[cols]

df.head()

,Player,Nation,Pos,Pos2,Age,MP,Starts,Min,90s,Gls,Ast,G+A,CrdY,CrdR,xG,xAG,xG+xAG,Team
0,Rodri,ESP,MF,None,27,34,34,2931,32.6,8,9,17,8,1,4.1,3.9,8.0,Manchester City
1,Phil Foden,ENG,FW,MF,23,35,33,2857,31.7,19,8,27,2,0,10.3,8.4,18.7,Manchester City
2,Ederson,BRA,GK,None,29,33,33,2785,30.9,0,0,0,5,0,0.0,0.1,0.1,Manchester City
3,Julián Álvarez,ARG,MF,FW,23,36,31,2647,29.4,11,8,19,2,0,13.0,6.4,19.4,Manchester City
4,Kyle Walker,ENG,DF,None,33,32,30,2767,30.7,0,4,4,2,0,0.4,2.6,3.0,Manchester City

In [100]:
cols = list(df.columns)

cols.insert(-1, cols.pop(cols.index('CrdY')))
cols.insert(-1, cols.pop(cols.index('CrdR')))
cols.insert(2, cols.pop(cols.index('Team')))


df = df[cols]

df

,Player,Nation,Team,Pos,Pos2,Age,MP,Starts,Min,90s,Gls,Ast,G+A,xG,xAG,xG+xAG,CrdY,CrdR
0,Rodri,ESP,Manchester City,MF,None,27,34,34,2931,32.6,8,9,17,4.1,3.9,8.0,8,1
1,Phil Foden,ENG,Manchester City,FW,MF,23,35,33,2857,31.7,19,8,27,10.3,8.4,18.7,2,0
2,Ederson,BRA,Manchester City,GK,None,29,33,33,2785,30.9,0,0,0,0.0,0.1,0.1,5,0
3,Julián Álvarez,ARG,Manchester City,MF,FW,23,36,31,2647,29.4,11,8,19,13.0,6.4,19.4,2,0
4,Kyle Walker,ENG,Manchester City,DF,None,33,32,30,2767,30.7,0,4,4,0.4,2.6,3.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,Sam Curtis,IRL,Sheffield United,DF,None,17,1,0,28,0.3,0,0,0,0.0,0.0,0.0,0,0
576,Daniel Jebbison,ENG,Sheffield United,FW,None,19,1,0,21,0.2,0,0,0,0.0,0.0,0.0,0,0
577,Antwoine Hackford,ENG,Sheffield United,FW,None,19,2,0,13,0.1,0,0,0,0.0,0.0,0.0,0,0
578,Sydie Peck,ENG,Sheffield United,MF,None,18,1,0,10,0.1,0,0,0,0.0,0.0,0.0,0,0
579,Ryan One,SCO,Sheffield United,FW,None,17,1,0,8,0.1,0,0,0,0.0,0.0,0.0,0,0

In [101]:
df.rename(columns={'Gls':'Goals', 'Ast':'Assists', 'xG':'Expected Goals', 
                   'xAG':'Expected Assists', 'CrdY':'Yellow Cards', 
                   'CrdR':'Red Cards', 'Player':'Name', 'Min': 'Minutes'}, inplace = True)
df

,Name,Nation,Team,Pos,Pos2,Age,MP,Starts,Minutes,90s,Goals,Assists,G+A,Expected Goals,Expected Assists,xG+xAG,Yellow Cards,Red Cards
0,Rodri,ESP,Manchester City,MF,None,27,34,34,2931,32.6,8,9,17,4.1,3.9,8.0,8,1
1,Phil Foden,ENG,Manchester City,FW,MF,23,35,33,2857,31.7,19,8,27,10.3,8.4,18.7,2,0
2,Ederson,BRA,Manchester City,GK,None,29,33,33,2785,30.9,0,0,0,0.0,0.1,0.1,5,0
3,Julián Álvarez,ARG,Manchester City,MF,FW,23,36,31,2647,29.4,11,8,19,13.0,6.4,19.4,2,0
4,Kyle Walker,ENG,Manchester City,DF,None,33,32,30,2767,30.7,0,4,4,0.4,2.6,3.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,Sam Curtis,IRL,Sheffield United,DF,None,17,1,0,28,0.3,0,0,0,0.0,0.0,0.0,0,0
576,Daniel Jebbison,ENG,Sheffield United,FW,None,19,1,0,21,0.2,0,0,0,0.0,0.0,0.0,0,0
577,Antwoine Hackford,ENG,Sheffield United,FW,None,19,2,0,13,0.1,0,0,0,0.0,0.0,0.0,0,0
578,Sydie Peck,ENG,Sheffield United,MF,None,18,1,0,10,0.1,0,0,0,0.0,0.0,0.0,0,0
579,Ryan One,SCO,Sheffield United,FW,None,17,1,0,8,0.1,0,0,0,0.0,0.0,0.0,0,0

In [102]:
df.reset_index(drop=True, inplace=True)

df.head()

,Name,Nation,Team,Pos,Pos2,Age,MP,Starts,Minutes,90s,Goals,Assists,G+A,Expected Goals,Expected Assists,xG+xAG,Yellow Cards,Red Cards
0,Rodri,ESP,Manchester City,MF,None,27,34,34,2931,32.6,8,9,17,4.1,3.9,8.0,8,1
1,Phil Foden,ENG,Manchester City,FW,MF,23,35,33,2857,31.7,19,8,27,10.3,8.4,18.7,2,0
2,Ederson,BRA,Manchester City,GK,None,29,33,33,2785,30.9,0,0,0,0.0,0.1,0.1,5,0
3,Julián Álvarez,ARG,Manchester City,MF,FW,23,36,31,2647,29.4,11,8,19,13.0,6.4,19.4,2,0
4,Kyle Walker,ENG,Manchester City,DF,None,33,32,30,2767,30.7,0,4,4,0.4,2.6,3.0,2,0

# Challenge 1: Filter Top Scorers
**Task:** Filter the rows of players who have scored more than 10 goals so far in the season. Display their names and the number of goals.

In [103]:
df.loc[df['Goals'] > 10, ['Name', 'Goals']].sort_values(by = 'Goals',ascending=False)

                     Name  Goals
6          Erling Haaland     27
83            Cole Palmer     22
117        Alexander Isak     21
1              Phil Foden     19
369       Dominic Solanke     19
204         Ollie Watkins     19
28          Mohamed Salah     18
146         Son Heung-min     17
59            Bukayo Saka     16
237          Jarrod Bowen     16
265  Jean-Philippe Mateta     16
82        Nicolas Jackson     14
458            Chris Wood     14
62            Kai Havertz     13
65       Leandro Trossard     12
404         Matheus Cunha     12
407        Hwang Hee-chan     12
429           Yoane Wissa     12
114        Anthony Gordon     11
3          Julián Álvarez     11
155           Richarlison     11
266          Eberechi Eze     11
32           Darwin Núñez     11
488        Carlton Morris     11

# Challenge 2: Find Players with High Assists and Low Goals
**Task:** Filter players who have more than 5 assists but fewer than 3 goals. Display their names, assists, and goals.

In [110]:
HALG = df.loc[(df['Assists'] > 5) & (df['Goals'] < 3), ['Name', 'Assists', 'Goals']]

HALG.sort_values(by=['Assists', 'Goals'], ascending=False)

                 Name  Assists  Goals
118   Kieran Trippier       10      1
409        Pedro Neto        9      2
487     Alfie Doughty        8      2
235   Vladimír Coufal        7      0
216   Youri Tielemans        6      2
91         Malo Gusto        6      0
288  Antonee Robinson        6      0

# Challenge 3: Filter Players by Position and High xG
**Task:** Filter midfielders who have an xG (expected goals) greater than 5. Display their names, position, and xG.

In [106]:
highxG = df.loc[(df['Expected Goals'] > 5) & 
                ((df['Pos'] == 'MF') | (df['Pos2'] == 'MF')), 
                ['Name', 'Pos', 'Pos2', 'Expected Goals']]

highxG.sort_values(by='Expected Goals', ascending=False)

                   Name Pos  Pos2  Expected Goals
83          Cole Palmer  FW    MF            18.2
3        Julián Álvarez  MF    FW            13.0
62          Kai Havertz  MF    FW            12.3
345          João Pedro  FW    MF            11.9
488      Carlton Morris  FW    MF            11.4
1            Phil Foden  FW    MF            10.3
175     Bruno Fernandes  MF    FW            10.0
404       Matheus Cunha  FW    MF             9.5
266        Eberechi Eze  MF    FW             9.1
36           Cody Gakpo  FW    MF             9.0
317  Abdoulaye Doucouré  FW    MF             8.8
65     Leandro Trossard  FW    MF             7.9
407      Hwang Hee-chan  FW    MF             7.7
57      Martin Ødegaard  MF  None             7.4
211        Moussa Diaby  FW    MF             7.0
453  Morgan Gibbs-White  MF    FW             6.9
207        Douglas Luiz  MF  None             6.9
239        Tomáš Souček  MF  None             6.7
455      Anthony Elanga  FW    MF             6.6
116      Sean Longstaff  MF  None             6.6
88      Raheem Sterling  FW    MF             6.5
338         Pascal Groß  MF    DF             6.5
152      James Maddison  MF  None             6.4
213         Leon Bailey  MF    FW             6.3
273     Odsonne Édouard  FW    MF             6.2
86       Enzo Fernández  MF  None             6.2
374     Justin Kluivert  MF    FW             6.2
557        Ben Brereton  FW    MF             6.1
238   James Ward-Prowse  MF  None             6.0
182     Scott McTominay  MF    FW             5.7
278       Michael Olise  FW    MF             5.5
408       Pablo Sarabia  MF    FW             5.5
552      Cameron Archer  FW    MF             5.5
242       Lucas Paquetá  FW    MF             5.4
344       Danny Welbeck  FW    MF             5.3
293          Alex Iwobi  FW    MF             5.3
244      Mohammed Kudus  FW    MF             5.1

# Challenge 4: Players with High xAG but No Goals
**Task:** Filter players who have an xAG (expected assists) greater than 5 but haven't scored any goals. Display their names, xAG, and goals.

In [111]:
high_xAG_no_goals = df.loc[(df['Expected Assists'] > 5) & (df['Goals'] == 0), ['Name', 'Expected Assists', 'Goals']]

high_xAG_no_goals.sort_values(by='Expected Assists', ascending=False)

              Name  Expected Assists  Goals
370  Ryan Christie               5.4      0

# Challenge 5: Filter Players by Nationality
**Task:** Filter all players from a specific nationality (e.g., "English") who have more than 2 assists. Display their names, nationality, and assists.

In [124]:
english_brazilian_players = df[((df['Nation'] == 'ENG') | (df['Nation'] == 'BRA')) & 
                     (df['Assists'] > 2)][['Name', 'Nation', 'Assists']]

english_brazilian_players.sort_values(by='Assists', ascending=False)

                       Name Nation  Assists
204           Ollie Watkins    ENG       13
83              Cole Palmer    ENG       11
118         Kieran Trippier    ENG       10
453      Morgan Gibbs-White    ENG       10
114          Anthony Gordon    ENG       10
152          James Maddison    ENG        9
59              Bukayo Saka    ENG        9
112         Bruno Guimarães    BRA        8
1                Phil Foden    ENG        8
56              Declan Rice    ENG        8
487           Alfie Doughty    ENG        8
289         Andreas Pereira    BRA        7
404           Matheus Cunha    BRA        7
238       James Ward-Prowse    ENG        7
125            Jacob Murphy    ENG        7
80          Conor Gallagher    ENG        7
316           Dwight McNeil    ENG        6
242           Lucas Paquetá    BRA        6
237            Jarrod Bowen    ENG        6
42           Harvey Elliott    ENG        6
207            Douglas Luiz    BRA        5
66            Gabriel Jesus    BRA        5
155             Richarlison    BRA        4
58                Ben White    ENG        4
4               Kyle Walker    ENG        4
88          Raheem Sterling    ENG        4
496             Reece Burke    ENG        4
266            Eberechi Eze    ENG        4
489            Ross Barkley    ENG        4
63       Gabriel Martinelli    BRA        4
488          Carlton Morris    ENG        4
30   Trent Alexander-Arnold    ENG        4
376        Marcus Tavernier    ENG        4
500         Andros Townsend    ENG        3
468           Harry Toffolo    ENG        3
345              João Pedro    BRA        3
372              Lewis Cook    ENG        3
369         Dominic Solanke    ENG        3
132           Harvey Barnes    ENG        3
321           Jack Harrison    ENG        3
276            Adam Wharton    ENG        3
262         Tyrick Mitchell    ENG        3
124             Lewis Miley    ENG        3
553            James Mcatee    ENG        3

# Challenge 6: Filter by Minutes Played
**Task:** Filter players who have played more than 1000 minutes but have fewer than 5 total goal involvements (goals + assists). Display their names, minutes played, goals, and assists.

In [127]:
low_involvement = df[(df['Minutes'] > 1000) & (df['G+A'] < 5)][['Name', 'Minutes', 'Goals', 'Assists']]

low_involvement.sort_values(by=['Goals', 'Assists'], ascending=False)

                     Name  Minutes  Goals  Assists
60      Gabriel Magalhães     3044      4        0
322    Idrissa Gana Gueye     1884      4        0
495          Tahith Chong     1982      4        0
15          Jack Grealish     1009      3        1
85           Thiago Silva     2527      3        1
..                    ...      ...    ...      ...
504  Pelly Ruddock Mpanzu     1101      0        0
516        James Trafford     2520      0        0
525         Maxime Estève     1309      0        0
550       Wes Foderingham     2649      0        0
551         Auston Trusty     2572      0        0

[185 rows x 4 columns]

# Challenge 7: Filter Players with a High Contribution per 90 Minutes
**Task:** Filter players with goal involvements per 90 minutes greater than 0.5. First, calculate the goal involvement per 90 minutes, and then filter for players exceeding this value. Display their names and contribution per 90 minutes.

In [131]:
df['goal_involvement_per_90'] = (df['G+A']) / (df['Minutes'] / 90)

high_involvement_players = df[df['goal_involvement_per_90'] > 0.5][['Name', 'goal_involvement_per_90']]

high_involvement_players.sort_values(by='goal_involvement_per_90', ascending=False)

                   Name  goal_involvement_per_90
258       George Earthy                 2.647059
169         Alejo Véliz                 1.800000
21         Sergio Gómez                 1.698113
199        Omari Forson                 1.285714
307        Adama Traoré                 1.193634
..                  ...                      ...
384     Luis Sinisterra                 0.515021
532  David Datro Fofana                 0.511945
244      Mohammed Kudus                 0.507246
299          Bobby Reid                 0.505973
178      Rasmus Højlund                 0.500463

[92 rows x 2 columns]

# Challenge 8: Filter by Age Group
**Task:** Filter all players who are under the age of 23. Display their names, age, and goals.

In [132]:
u23 = df[df['Age'] < 23][['Name', 'Age', 'Goals']]

u23.sort_values(by=['Goals', 'Age'], ascending=False)

                Name  Age  Goals
83       Cole Palmer   21     22
59       Bukayo Saka   21     16
82   Nicolas Jackson   22     14
114   Anthony Gordon   22     11
278    Michael Olise   21     10
..               ...  ...    ...
511   Joseph Johnson   17      0
575       Sam Curtis   17      0
579         Ryan One   17      0
79     Ethan Nwaneri   16      0
171      Mikey Moore   15      0

[186 rows x 3 columns]

# Challenge 9: Filter Players with Low xG but High Goals
**Task:** Find players who have scored more than 10 goals but have an xG (expected goals) of less than 8. Display their names, goals, and xG.

In [133]:
lowXg_highGoals = df[(df['Expected Goals'] < 8) & (df['Goals'] > 10)][['Name', 'Goals', 'Expected Goals']]

lowXg_highGoals.sort_values(by=['Goals', 'Expected Goals'], ascending=False)

                 Name  Goals  Expected Goals
65   Leandro Trossard     12             7.9
407    Hwang Hee-chan     12             7.7

# Challenge 10: Filter Players with High xA and High Assists
**Task:** Filter players who have more than 8 assists and also an xA (expected assists) greater than 8. Display their names, assists, and xA.

In [135]:
high_assists = df[(df['Assists'] > 8) & (df['Expected Assists'] > 8)][['Name', 'Assists', 'Expected Assists']]

high_assists.sort_values(by=['Assists', 'Expected Assists'],ascending=False)

                   Name  Assists  Expected Assists
83          Cole Palmer       11              11.1
28        Mohamed Salah       10              11.8
146       Son Heung-min       10              11.8
13      Kevin De Bruyne       10              11.5
57      Martin Ødegaard       10               9.6
453  Morgan Gibbs-White       10               8.4
154     Brennan Johnson       10               8.1
338         Pascal Groß       10               8.1
59          Bukayo Saka        9              10.5
213         Leon Bailey        9               9.2

# Challenge 11: Find Players with No Goals but High xG
**Task:** Find all players who scored 5 goals or less but have an xG greater than 7. Display their names, goals, and xG.

In [141]:
df[(df['Expected Goals'] >= 7) & (df['Goals'] <= 5)][['Name', 'Goals', 'Expected Goals']]

                Name  Goals  Expected Goals
154  Brennan Johnson      5            10.3

# Challenge 12: Filter Players with High Involvement in Goal Contributions
**Task:** Filter players who have either more than 15 goals or more than 10 assists. Display their names, goals, and assists.

In [146]:
df[(df['Assists'] >= 10) | (df['Goals'] >= 15)][['Name', 'Goals', 'Assists']].sort_values(by=['Goals', 'Assists'],ascending = False)

                     Name  Goals  Assists
6          Erling Haaland     27        5
83            Cole Palmer     22       11
117        Alexander Isak     21        2
204         Ollie Watkins     19       13
1              Phil Foden     19        8
369       Dominic Solanke     19        3
28          Mohamed Salah     18       10
146         Son Heung-min     17       10
59            Bukayo Saka     16        9
237          Jarrod Bowen     16        6
265  Jean-Philippe Mateta     16        5
114        Anthony Gordon     11       10
57        Martin Ødegaard      8       10
154       Brennan Johnson      5       10
453    Morgan Gibbs-White      5       10
13        Kevin De Bruyne      4       10
338           Pascal Groß      4       10
118       Kieran Trippier      1       10

# Challenge 13: Filter Players Based on Minutes Played Per Match
**Task:** Filter players who play more than 75 minutes per match on average. Assume you have a column for total minutes played and another for total matches. Display their names and average minutes per match.

In [149]:
df['min_per_match'] = df['Minutes'] / df['MP']

df[df['min_per_match'] >= 75][['Name', 'min_per_match']].sort_values(by='min_per_match', ascending=False)

                Name  min_per_match
368   Illia Zabarnyi      90.000000
29           Alisson      90.000000
312  Jordan Pickford      90.000000
272   Dean Henderson      90.000000
398       Max Kilman      90.000000
..               ...            ...
488   Carlton Morris      75.315789
244   Mohammed Kudus      75.272727
117   Alexander Isak      75.166667
183    Harry Maguire      75.136364
309      Luke Harris      75.000000

[194 rows x 2 columns]

# Challenge 14: Filter Goalkeepers
**Task:** Filter out only the players who are goalkeepers. Display their names and the number of clean sheets (if available in your dataset).

In [150]:
df[df['Pos'] == 'GK'][['Name']]

                     Name
2                 Ederson
18          Stefan Ortega
29                Alisson
43      Caoimhín Kelleher
61             David Raya
72         Aaron Ramsdale
87         Đorđe Petrović
93         Robert Sánchez
120       Martin Dúbravka
122             Nick Pope
135          Loris Karius
144     Guglielmo Vicario
173           André Onana
208     Emiliano Martínez
222           Robin Olsen
241       Alphonse Areola
248      Łukasz Fabiański
271         Sam Johnstone
272        Dean Henderson
286         Remi Matthews
287            Bernd Leno
312       Jordan Pickford
343       Bart Verbruggen
348          Jason Steele
371                  Neto
386          Mark Travers
390            Ionuț Radu
400               José Sá
416        Daniel Bentley
425          Mark Flekken
449      Thomas Strakosha
465           Matt Turner
466             Matz Sels
476  Odisseas Vlachodimos
486       Thomas Kaminski
512            James Shea
516        James Trafford
531        Arijanet Muric
550       Wes Foderingham
563             Ivo Grbić

# Challenge 15: Filter Players with a High Number of Cards
**Task:** Filter players who have received more than 5 yellow cards or more than 1 red card. Display their names, yellow cards, and red cards.

In [151]:
df[(df['Yellow Cards'] > 5) | (df['Red Cards'] > 1)][['Name', 'Yellow Cards', 'Red Cards']].sort_values(by=['Yellow Cards', 'Red Cards'], ascending=False)

                Name  Yellow Cards  Red Cards
290    João Palhinha            13          0
373    Marcos Senesi            13          0
114   Anthony Gordon            12          1
401     Mario Lemina            12          1
207     Douglas Luiz            12          0
..               ...           ...        ...
469  Ibrahim Sangaré             6          0
489     Ross Barkley             6          0
525    Maxime Estève             6          0
527     Jordan Beyer             6          0
99       Reece James             2          2

[105 rows x 3 columns]

# Challenge 16: Filter Players by Team and Performance
**Task:** Filter players from a specific team (e.g., "Manchester United") who have scored more than 5 goals. Display their names, team, and goals.

In [176]:
df[(df['Team'] == 'Arsenal') & (df['Goals'] >= 5)][['Name', 'Team','Goals']].sort_values(by='Goals', ascending=False)

                  Name     Team  Goals
59         Bukayo Saka  Arsenal     16
62         Kai Havertz  Arsenal     13
65    Leandro Trossard  Arsenal     12
57     Martin Ødegaard  Arsenal      8
56         Declan Rice  Arsenal      7
63  Gabriel Martinelli  Arsenal      6
69       Eddie Nketiah  Arsenal      5

# Challenge 17 (Replacement): Filter Players with High xA-to-Assists Ratio
**Task:** Filter players who have an xA (expected assists) that is at least twice as high as their actual assists. Display their names, xA, and assists.

In [154]:
df[(df['Expected Assists'] * 2) >= (df['Assists'])][['Name', 'Expected Assists', 'Assists']].sort_values(by='Expected Assists', ascending=False)

                Name  Expected Assists  Assists
175  Bruno Fernandes              11.8        8
28     Mohamed Salah              11.8       10
146    Son Heung-min              11.8       10
13   Kevin De Bruyne              11.5       10
83       Cole Palmer              11.1       11
..               ...               ...      ...
416   Daniel Bentley               0.0        0
419     Leon Chiwome               0.0        0
143  Michael Ndiweni               0.0        0
422  Tawanda Chirewa               0.0        0
579         Ryan One               0.0        0

[542 rows x 3 columns]

# Challenge 18: Filter Players who have a higher xG than goals
**Task:** Looking at underperforming strikers. Filter players who have a higher xG (expected goals) than actual goals. Display their names, xG, and goals.

In [166]:
high = df[(df['Expected Goals'] > df['Goals']) & (df['Pos'] == 'FW')][['Name', 'Expected Goals', 'Goals']].sort_values(by=['Expected Goals', 'Goals'], ascending=False)

#show entire dataframe
pd.set_option('display.max_rows', None)
high.shape[0]

77

In [191]:
over_perform = df[(df['Expected Goals'] < df['Goals']) & (df['Pos'] =='FW')][['Name', 'Expected Goals', 'Goals']].sort_values(by=['Expected Goals', 'Goals'], ascending=False)

over_perform

                     Name  Expected Goals  Goals
117        Alexander Isak            20.3     21
83            Cole Palmer            18.2     22
204         Ollie Watkins            16.8     19
59            Bukayo Saka            15.5     16
146         Son Heung-min            12.0     17
458            Chris Wood            11.9     14
237          Jarrod Bowen            11.6     16
265  Jean-Philippe Mateta            10.9     16
429           Yoane Wissa            10.6     12
1              Phil Foden            10.3     19
114        Anthony Gordon            10.2     11
155           Richarlison             9.6     11
404         Matheus Cunha             9.5     12
129         Callum Wilson             8.8      9
296         Rodrigo Muniz             8.7      9
65       Leandro Trossard             7.9     12
407        Hwang Hee-chan             7.7     12
178        Rasmus Højlund             7.6     10
88        Raheem Sterling             6.5      8
273       Odsonne Édouard             6.2      7
497        Elijah Adebayo             5.9     10
246       Michail Antonio             5.8      6
439           Neal Maupay             5.7      6
278         Michael Olise             5.5     10
39             Diogo Jota             5.3     10
297          Raúl Jiménez             5.2      7
244        Mohammed Kudus             5.1      8
148      Dejan Kulusevski             4.7      8
470         Taiwo Awoniyi             4.7      6
377       Antoine Semenyo             4.6      8
299            Bobby Reid             4.6      6
351         Evan Ferguson             4.6      6
69          Eddie Nketiah             4.5      5
523           Lyle Foster             4.5      5
92        Mykhailo Mudryk             4.4      5
341         Simon Adingra             4.3      6
263           Jordan Ayew             3.9      4
132         Harvey Barnes             3.6      5
300          Harry Wilson             3.4      4
457    Callum Hudson-Odoi             2.7      8
95           Noni Madueke             2.5      5
11            Jeremy Doku             2.5      3
349    Facundo Buonanotte             2.4      3
101    Christopher Nkunku             2.3      3
15          Jack Grealish             2.1      3
125          Jacob Murphy             2.1      3
223            Jhon Durán             2.0      5
359           Solly March             2.0      3
274       Jeffrey Schlupp             1.8      2
306       Carlos Vinícius             1.6      2
307          Adama Traoré             1.5      2
447          Kevin Schade             1.2      2
421        Sasa Kalajdzic             1.1      2
195           Amad Diallo             0.5      1
258         George Earthy             0.3      1
169           Alejo Véliz             0.2      1

In [180]:
double_digits = df[(df['Goals'] >= 10) & (df['Assists'] >= 10)][['Name', 'Goals', 'Assists']].sort_values(by=['Goals', 'Assists'],ascending=False)

double_digits

               Name  Goals  Assists
83      Cole Palmer     22       11
204   Ollie Watkins     19       13
28    Mohamed Salah     18       10
146   Son Heung-min     17       10
114  Anthony Gordon     11       10

In [189]:
df[df['Name'] == 'Oliver McBurnie']

,Name,Nation,Team,Pos,Pos2,Age,MP,Starts,Minutes,90s,Goals,Assists,G+A,Expected Goals,Expected Assists,xG+xAG,Yellow Cards,Red Cards,goal_involvement_per_90,min_per_match
555,Oliver McBurnie,SCO,Sheffield United,FW,None,27,21,15,1280,14.2,6,3,9,6.9,2.0,8.9,7,2,0.632812,60.952381